
/* Rules for sizing the icon. */
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#chartdiv {
    width:100%;
    height:300px;
    border:5px solid #e6e6e6;
}

.headerbar {
    background-color: #ff6b35;
  }
  .subscriberPop {
    top:10px!important;
    width: 250px !important;
    padding:10px !important;
    background-color:#B0C6CF !important;
    border-radius: 10px !important;
    border:1px solid #B0C6CF;
  }
  .subscriberPop:before {
      border-left: 6px solid #B0C6CF !important;
  }
  .subscriberPop span {
    text-align: left;
    display:block;
  }
  .subscriberPop .title {
    font-weight: bold;
    font-size:.9em !important;
  }
  .subscriberPop .handle {
    padding-bottom:5px;
    border-bottom:1px solid #999;
  }
  .subscriberPop a {
    margin-top:5px;
    color:#204154 !important;
    text-align: right;
    display:block;
    text-decoration: none;
  }
  .subscriberPop a i.v-icon {
    color:#204154 !important;
  }
  .removeAccount {
    text-decoration: none;
  }

  .headerbar h2 {white-space: nowrap;}




  /* === FAB === */
 .fab {
  right: 15px;
  top: 75px;
  position: fixed;
}

.fab a {
  background: #1976d2;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-decoration: none;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}

/* Animation */

a.pulsingButton:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: #ffffff;
}

@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulsing {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulsing {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}