
/* Rules for sizing the icon. */
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#chartdiv {
    width:100%;
    height:300px;
    border:5px solid #e6e6e6;
}

.headerbar {
    background-color: #ff6b35;
  }
  .titleAndLogo {
    white-space: nowrap;
  }
  .subscriberPop {
    top:10px!important;
    width: 250px !important;
    padding:10px !important;
    background-color:#B0C6CF !important;
    border-radius: 10px !important;
    border:1px solid #B0C6CF;
  }
  .subscriberPop:before {
      border-left: 6px solid #B0C6CF !important;
  }
  .subscriberPop span {
    text-align: left;
    display:block;
  }
  .subscriberPop .title {
    font-weight: bold;
    font-size:.9em !important;
  }
  .subscriberPop .handle {
    padding-bottom:5px;
    border-bottom:1px solid #999;
  }
  .subscriberPop a {
    margin-top:5px;
    color:#204154 !important;
    text-align: right;
    display:block;
    text-decoration: none;
  }
  .subscriberPop a i.v-icon {
    color:#204154 !important;
  }
  .removeAccount {
    text-decoration: none;
  }

  .headerbar h2 {
    white-space: nowrap;
    display: inline-block;
    color:#fff;
    font-size:27px;
    vertical-align: middle;
    line-height: 1em;
    margin-left:10px
  }
  .headerbar .v-icon.v-icon {
    display: inline;
    line-height: inherit;
    font-size:28px;
    color:#fff;
  }
  .container.breadcrumb {
    max-width: 100%;
    padding:8px 12px;
    margin: 0;
    background-color: #9B9B9B;
    color: #000;
    height: 35px;
    font-size:1em;
  }
  .container.breadcrumb .container {
    padding:0;
  }
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.theme--light header.v-app-bar.v-toolbar.v-sheet > div {
    background-color: #007155;
}

#app .v-text-field>.v-input__control>.v-input__slot {
  background-color: #DFDFDF;
  padding:15px;
}
.v-text-field>.v-input__control>.v-input__slot:after, .v-text-field>.v-input__control>.v-input__slot:before {
  border:none !important;
}

.v-input .v-label {
  height: 30px;
  line-height: 30px;
  width:100%;
  text-align: center;
}
#app .v-text-field .v-label {
   overflow: inherit;
   text-overflow: inherit;
   max-width:inherit;
}
#app .v-text-field.v-input--is-focused .v-label {
  width:100%;
  text-align: left;
}
#app form .v-btn {
  border-radius: 0px;
  width:100%;
  background-color:#7D7D7D !important;
  color:#fff !important;
}
.mdi-virus {color:#9B9B9B;}

.v-main h2 {
  line-height: 1.2em;
}
#app .v-application .subtitle-1 {
  margin-top:15px;
  font-size: 1.2rem!important;
  line-height: 1.2em;
}


.theme--light.v-divider {
    border-color: #9B9B9B;
    border-width:2px 0 0;
    margin:20px 0;
}

.v-dialog .v-card .headline {white-space: nowrap;}

#app .v-card__actions {display: inherit;text-align: center;}

#app .v-snack__content {  text-align: center;}
#app .v-snack a, #app .v-snack span {
  color: #fff !important;
}
